{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/journal_app.css' %}">
        <title>Journal</title>
    </head>
    <body class="{{ request.user.osoba.ustawienia.motyw_kolor }}-theme">
        <header class="header">
        
            <img src="{% static 'images/logo.png' %}" alt="Journal Logo" class="header-logo">
        </header>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
            <p>JOURNAL</p>
        </div>
    </body>
</html>