{%extends 'journal_app/base.html'%}
{%load static%}

{%block content%}
  

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/journal_app.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wylogowanie</title>
</head>
<div class = "center-content">
<body>
    <h2>Wylogowano pomyślnie!</h2>
    <p>Do zobaczenia!</p>
    <p>
    <a href="{% url 'login' %}" class="button">Zaloguj się ponownie</a>
    </p>
</div>
</body>
</html>
{%endblock%}