{% extends 'journal_app/base.html' %}
{%load static%}


{% block content %}
<div class="menu">
  <a href="{% url 'edytuj-profil' %}" class="button">Edytuj profil</a>
  <a href="{% url 'home-page' %}" class="button">Strona główna</a>
</div>
  <br>
  <div class = "profile-header">
  <h3>Profil użytkownika</h3>
  </div>
  <br>

    <div>
    {% if profil.avatar %}
      <img src="/journal_app{{ profil.avatar.url }}" alt="Zdjęcie profilowe" style="width: 150px; height: 150px; border-radius: 50%;">
    {% else %}
      <p>Brak zdjęcia profilowego</p>
    {% endif %}
    </div>
    <div class = 'profile-card'>
        <h3>Informacje o użytkowniku</h3>
    <p><strong>Imię:</strong> {{ osoba.imie }}</p>
    <p><strong>Nazwisko:</strong> {{ osoba.nazwisko }}</p>
    <p><strong>Email:</strong> {{ osoba.email }}</p>
    <p><strong>Data rejestracji:</strong> {{ osoba.data_rejestracji }}</p>
    <p><strong>Telefon:</strong> {{ profil.telefon }}</p>
    <p><strong>Data urodzenia:</strong> {{ profil.data_urodzenia }}</p>
    <p><strong>Biografia:</strong> {{ profil.biografia }}</p>
  </div>
 
   <br>

    <form method="POST" action="{% url 'logout' %}">
         {% csrf_token %}
        <button type="submit" class="button">Wyloguj</button>
    </form>

{% endblock %}
